cmake_projects/test/
cpp_archive/test/
python_archive/test/

.vs
.vscode

bin
build
devel

*.pyc
*.svg
*.out
*.gch

.ipynb_checkpoints/

GTAGS
GSYMS
GRTAGS
GPATH
TAGS

x64/
Release/
Debug/
*.tlog
*.pdb
*.log
*.obj
*.exe
*.dll
*.iobj
*.idb

.dir-locals.el

reldebug/
debug/

$Recycle.Bin
