/****************
 * applications *
 ****************/
SushiFontWidget {
	padding: 6px 12px;
}

/************
 * nautilus *
 ************/
.nautilus-canvas-item {
    border-radius: 5px; /*edit grid view nautilus*/
}

.nautilus-desktop.nautilus-canvas-item {
    font: bold;
    color: white;
    text-shadow: 1px 2px 3px alpha(@dark_shadow, 0.9)
}

.nautilus-desktop.nautilus-canvas-item:active {
    color: @theme_fg_color;
}

.nautilus-desktop.nautilus-canvas-item:selected {
    color: @theme_selected_fg_color;
}

.nautilus-canvas-item:selected:backdrop {
    background-color: shade(@bg_color,0.5);
}

.nautilus-desktop.nautilus-canvas-item:active,
.nautilus-desktop.nautilus-canvas-item:prelight,
.nautilus-desktop.nautilus-canvas-item:selected {
    text-shadow: none;
}

NautilusWindow .toolbar {
    border-width: 0 0 1px;
    border-style: solid;
    border-color: shade(@toolbar_bg_color, 0.7);
}
/*
NautilusWindow .sidebar .frame {
    border-style: none;
}
*/
NautilusWindow .sidebar row:hover {
	background-color: shade (@theme_bg_color, 0.95);
}

NautilusWindow * {
	-GtkPaned-handle-size: 1px;
}

NautilusWindow .pane-separator {
	background-image: url("../assets/null.png");
}

NautilusWindow > GtkGrid > .pane-separator,
NautilusWindow > GtkGrid > .pane-separator:hover {
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: shade(@theme_bg_color, 0.8);
    background-color: shade(@theme_bg_color, 1.08);
	color: shade (@theme_bg_color, 0.9);
}

NautilusNotebook.notebook {
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
}

NautilusNotebook .frame,
NautilusWindow .sidebar .frame {
    border-width: 0;
	border-image: none;
}

NautilusQueryEditor .search-bar.toolbar {
    border-top-width: 0;
    border-bottom-width: 0;
}

NautilusQueryEditor .toolbar {
    padding-top: 4px;
    padding-bottom: 2px;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: shade(@toolbar_bg_color, 0.8);
    background-image: none;
}

NautilusQueryEditor .toolbar:first-child {
    padding-top: 4px;
    padding-bottom: 2px;
}

NautilusQueryEditor .toolbar:last-child,
NautilusQueryEditor .search-bar.toolbar:only-child {
    padding-top: 4px;
    padding-bottom: 2px;
    border-bottom-width: 1px;
    border-bottom-color: shade(@toolbar_bg_color, 0.8);
    background-image: none;
}

NautilusListView GtkTreeView {
    border-color: @borders;
}
NautilusListView .view { /*display garis pada list view*/
  border-bottom: 1px solid rgba(173, 173, 173, 0.15); }

.disk-space-display {
  border-style: solid;
  border-width: 1px; }
  .disk-space-display.unknown {
    background-color: rgba(51, 51, 51, 0.5);
    border-color: rgba(26, 26, 26, 0.5); }
  .disk-space-display.used {
    background-color: rgba(48, 172, 255, 0.8);
    border-color: #30acff;
/*    background-color: rgba(87, 137, 255, 0.8);
    border-color: rgba(69, 79, 224, 0.8); */}
  .disk-space-display.free {
    background-color: rgba(255, 0, 109, 0.8);
    border-color: #ff006d
/*    background-color: #fff;
    border-color: #e0e0e0;*/ }

.nautilus-circular-button, .nautilus-circular-button:focus {
  border-radius: 20px;
  outline-radius: 20px; }

.nautilus-circular-button.button.image-button {
  padding: 6px; }

/******************
 * gnome terminal *
 ******************/

/* gnome-terminal unity */
TerminalScreen {
    -TerminalScreen-background-darkness: 0.97;
    background-color: #060606;
    color: #E8E8E8;
}

TerminalWindow.background {
   background-color: transparent;
}

TerminalWindow GtkNotebook.notebook {
    border-right-width: 0;
    border-left-width: 0;
    border-bottom-width: 0;
}

TerminalWindow .notebook.header {
    background-color: shade(@bg_color,0.85);}

TerminalWindow .scrollbars-junction,TerminalWindow .scrollbar.trough,
TerminalWindow .scrollbars-junction.frame,
TerminalWindow .frame.scrollbar.trough {
  border-color: @borders;
  background-color: @theme_bg_color;  }
  TerminalWindow .scrollbars-junction:backdrop,TerminalWindow .scrollbar.trough:backdrop,
  TerminalWindow .scrollbars-junction.frame:backdrop,
  TerminalWindow .frame.scrollbar.trough:backdrop {
    border-color: @borders;
    background-color: @theme_bg_color;  }

/*********
 * gedit *
 *********/

 GeditWindow * {
	-GtkPaned-handle-size: 1;
}

GeditWindow .pane-separator, 
GeditWindow .pane-separator:hover {
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: shade(@theme_bg_color, 0.8);
    background-color: shade(@theme_bg_color, 0.8);
    background-image: url("../assets/null.png");
    color: shade(@theme_bg_color, 1.0);
}

GeditPanel.title GtkLabel {
    padding: 4px 0;
}

GeditPanel.vertical .title {
    padding: 4px 0 4px 3px;
    border-style: none;
}

GeditPanel .toolbar {
    border-style: none;
    background-color: transparent;
}

GeditDocumentsPanel .view {
    background-color: @theme_bg_color;
}

GeditStatusComboBox .button,
GeditStatusComboBox .button:hover,
GeditStatusComboBox .button:active,
GeditStatusComboBox .button:active:hover {
    padding: 1px 6px 2px 4px;
    border-style: solid;
    border-width: 0 1px;
    border-radius: 0;
}

GeditStatusComboBox .button:hover,
GeditStatusComboBox .button:active,
GeditStatusComboBox .button:active:hover {
    border-color: shade(@theme_bg_color, 0.8);
}

GeditViewFrame .gedit-search-slider {
    padding: 4px;
    border-radius: 0 0 3px 3px;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: shade(@theme_base_color, 0.7);
    background-color: @theme_base_color;
}

GeditViewFrame .gedit-search-slider .not-found {
    background-color: #D94141;
    background-image: none;
    color: white;
}

GeditViewFrame .gedit-search-slider .not-found:selected {
    background-color: @theme_selected_bg_color;
    color: @selected_foreground;
}

GeditFileBrowserWidget .primary-toolbar.toolbar  {
    padding: 4px 8px;
    border-top: none;
    background-color: @theme_bg_color;
    background-image: none;}

.gedit-search-entry-occurrences-tag {
    color: @theme_text_color;
    margin: 2px;
    padding: 2px;}

GeditStatusbar {
  border-top: 1px solid @borders;
  background-color: @theme_bg_color; }

/* new in gedit */

.open-document-selector-treeview.view {
  padding: 2px 6px;
  border-width: 0px;
  border-color: transparent; }
  .open-document-selector-treeview.view:prelight {
	background-color: alpha(shade(@theme_selected_bg_color, 1.95), .25)}

/* Only normal state is handle */
.open-document-selector-name-label {
  color: @theme_fg_color; }

/* Only normal state is handle */
.open-document-selector-path-label {
  color: shade(@theme_selected_fg_color, 0.5);
  font-size: smaller; }
  .open-document-selector-path-label:selected {
    color: alpha(@theme_selected_fg_color, 0.75); }

/*************
 * gucharmap *
 *************/
GucharmapChartable {
    background-color: @theme_base_color;
}

GucharmapChartable:active,
GucharmapChartable:focus,
GucharmapChartable:selected {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}

/*************
 * evolution *
 *************/
EPreviewPane {
    background-color: @base_color;
    color: @fg_color;
}

/***********
 * gtkhtml *
 ***********/
GtkHTML {
    background-color: @base_color;
    color: @fg_color;
}

GtkHTML:active,
GtkHTML:active:backdrop,
.entry:active,
.entry:active:backdrop {
    background-color: @base_color;
    color: @fg_color;
}

/******************
 * gnome calendar *
 ******************/
.calendar-view {
    background-color: shade(@theme_base_color, 0.95);
    color: @theme_text_color;
}

/******************
 * gnome contacts *
 ******************/

.contacts-left-header-bar:dir(ltr) {
	border-right-width: 1px;
}

.contacts-left-header-bar:dir(rtl) {
	border-left-width: 1px;
}

.contacts-left-header-bar:dir(ltr),
.contacts-right-header-bar:dir(rtl) {
	border-top-right-radius: 0;
}

.contacts-right-header-bar:dir(ltr),
.contacts-left-header-bar:dir(rtl) {
	border-top-left-radius: 0;
}

/**********
 * evince *
 **********/

EvWindow.background > GtkBox.vertical > GtkPaned.horizontal > GtkBox.vertical > GtkScrolledWindow.frame {
    border-width: 0;
    border-radius: 0;
}

EvWindow.background EvSidebar.vertical .frame {
    border-width: 1px 0 0;
    border-radius: 0;
}

EvWindow.background EvSidebar.vertical .notebook {
    border-width: 1px 0 0;
}

EvWindow.background EvSidebarAnnotations.vertical GtkToolPalette > GtkToolItemGroup > .button { 
	padding: 4px;    
	border-image: none;
    border-radius: 0;
    border-style: solid;
    border-width: 0 0 1px;
    border-color: shade(@theme_bg_color, 0.8);
}

EvWindow.background EvSidebar.vertical .notebook .frame {
    border-width: 0;
}

EvWindow .pane-separator, 
EvWindow .pane-separator:hover {
    border-width: 0 1px;
    border-style: solid;
    border-color: shade(@theme_base_color, 0.9);
    background-color: transparent;
    color: shade(@theme_base_color, 0.7);
}

EvWindow.background EggFindBar.toolbar {
    border-width: 1px 0 0;
    border-style: solid;
    border-color: shade(@theme_base_color, 0.9);
}


EvWindow.background EvSidebar.vertical .notebook {
	border-color: shade(@theme_base_color, 0.7);
    background-color: @theme_base_color;
	border-radius: 0;
}

EvWindow.background EvSidebar.vertical .notebook.header { 
    background-color: @theme_bg_color;
    box-shadow: none;
    background-image: none;
    border-width: 0px;
}

EvWindow.background EvSidebar.vertical .notebook tab.top:active {
	background-color: @theme_base_color;
    background-image: none;
}

EvWindow.background EvSidebar.vertical .notebook tab.top {
    border-color: transparent;
    border-width: 0px;
    background-image: none;
    background-color: transparent;
}

EvWindow.background EvSidebar.vertical .notebook tab GtkLabel {
    color: alpha(@toolbar_fg_color, 0.5);
}

EvWindow.background EvSidebar.vertical .notebook .prelight-page,
EvWindow.background EvSidebar.vertical .notebook .prelight-page GtkLabel {
    color: @theme_fg_color;
}

EvWindow.background EvSidebar.vertical .notebook .active-page,
EvWindow.background EvSidebar.vertical .notebook tab .active-page GtkLabel {
    color: alpha(@toolbar_fg_color, 1.0);
}


.content-view.document-page {
    border-style: solid;
    border-width: 3px 3px 6px 4px;
    border-image: url("../assets/thumbnail-frame.png") 3 3 6 4;
}

/***************
 * file-roller *
 ***************/
FrWindow.background GtkPaned.horizontal {
	-GtkPaned-handle-size: 1;
}

FrWindow > GtkGrid > .pane-separator,
FrWindow > GtkGrid > .pane-separator:hover {
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: @borders;
}

FrWindow.background GtkBox.vertical GtkTreeView.view {
	background-color: @sidebar_bg;
}

/*********
 * totem *
 *********/
 
TotemMainToolbar.header-bar {
	border-width: 0;
}

TotemGrilo.vertical .search-bar {
	border-width: 1px 0 0 0;
}

GtkApplicationWindow.background GtkStack GtkVBox.vertical GtkOverlay GtkRevealer.top {
	background-color: @borders;
}

/********
* Geary *
********/
ConversationListView {
    -GtkWidget-focus-line-width: 1px;
    -GtkTreeView-grid-line-width: 0;
}

ConversationListView .view.cell {
     background-color: @theme_base_color;
     }

ConversationListView.view.cell {
    border-style: solid;
    border-width: 0 0 0px 0;
    border-color: alpha (#000, 0.2);
}
 
ConversationListView.view.cell:selected:focus {
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: shade (@colorAccent, 0.8);
}

/**********
 * Birdie *
 *********/

BirdieWidgetsTweetList * {
    background-image: none;
    background-color: transparent;
}

.tweet {
    font-size: 90%;
    padding: 0;
    box-shadow: none;
}

/*********
* Empathy *
**********/
/*EmpathyChatWindow .notebook.frame,
EmpathyChatWindow .notebook.header.frame {
  border-width: 0; }*/

EmpathyChatWindow .menubar {
  border-bottom: 1px solid shade(@toolbar_bg_color, 0.8);}
